<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <link href="https://visual-essays.github.io/web-app/static/images/favicon.svg" rel="icon" type="image/svg+xml"/>
  <link href="https://visual-essays.github.io/web-app/static/images/favicon.png" rel="icon" type="image/png"/>
  <title>Visual Essays Editor</title>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet"/>
  <link href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.73/dist/themes/light.css" rel="stylesheet"/>
  <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  <style>
    [v-cloak] {display: none}
    body {margin: 0; padding: 0;}
    * {box-sizing: border-box;}
    #app {font-family:Roboto,sans-serif;height:100vh; width:100%;}
    header {position:fixed; width:100%; min-height:50px; display:flex; align-items:center; gap:16px; padding:6px 18px; background-color:#ccc; z-index:100;}
    header div:last-child {margin-left: auto;}
    /* ve-footer {margin-left:1rem; width:calc(100% - 2rem);} */
    ve-footer {width:100%;}
    .logo {height:30px;}
    .title {font-size:1.5rem; font-weight:bold;}
    .login ul {list-style-type:none; margin:0; padding:0; overflow:hidden; }
    .login li {float:left; padding-left: 12px;}
    .main {width:100%; height:100%; padding: 60px 12px 0 12px;}
    .wrapper {width:100%; height:calc(100% - 120px); display:flex; padding:12px; gap:12px;}
    .wrapper > * {flex: 1;} /* even width flex columns */
    .overDropzone {position:absolute; left:0; background:rgba(0,0,0,.1);}
    .toolbar {display:flex; align-items:center;}
    .toolbar sl-icon-button {font-size:1.5rem;}
    .essay-title {display:inline-block; padding:2px 6px; border:1px solid gray; width:400px; border-radius:4px;}
    .essay-list li {display:flex; flex-direction:row; justify-items:start; align-items:center; padding:0; margin:0; list-style:none;}
    .essay-list li span {cursor:pointer; padding:3px;}
    .essay-list li span:hover {background-color:#ddd;}
    .selected {background-color:#ccc;}
    .CodeMirror-scroll {height: calc(100vh - 260px);}
    .editor-preview {padding:0;}
    .push {margin-left:auto;}
    .netlify-identity-user-details{display:none;}
  </style>
</head>
<body>

  <div id="app" @drop.prevent="drop" @dragover.prevent @dragover="overDropzone=true" @dragleave="overDropzone=false" :class="{overDropzone}">
    
    <header v-cloak>
      <a href="/"><img class="logo" src="https://visual-essays.github.io/content/static/images/favicon.svg"></a>
      <div class="title">Visual Essays Editor</div>
      <div class="login" data-netlify-identity-menu></div>
    </header>

    <div v-cloak v-if="isLoggedIn" class="main">
      <div class="toolbar">
        <div class="essay-title" v-html="essayTitle"></div>
        <div>
          <sl-tooltip content="Open Essays File Manager">
            <sl-icon-button name="folder" label="Essay Folder" @click="openFileManagerDialog"></sl-icon-button>
          </sl-tooltip>
        </div>
        <div class="push">
          <sl-tooltip content="Toggle Essay Preview">
            <sl-icon-button name="eye" label="Toggle Preview" @click="togglePreview"></sl-icon-button>
          </sl-tooltip>
        </div>
        <div>
          <sl-tooltip content="Show Help Documentation">
            <sl-icon-button name="question-square" label="Show Help Documentation" @click="showHelp"></sl-icon-button>
          </sl-tooltip>
        </div>
        <div>
          <sl-tooltip content="Save Essay">
            <sl-icon-button name="save" label="Save Essay" @click="saveMarkdown"></sl-icon-button>
          </sl-tooltip>
        </div>
        <div>
          <sl-tooltip content="Copy Essay Link">
            <sl-icon-button name="link-45deg" label="Copy Essay Link" @click="copyLink"></sl-icon-button>
          </sl-tooltip>
        </div>
        <div>
          <sl-tooltip content="Copy Essay Text">
            <sl-icon-button name="clipboard-check" label="Copy Essay Text" @click="copyText"></sl-icon-button>
          </sl-tooltip>
        </div>
        <div>
          <sl-tooltip content="View Essay">
            <sl-icon-button name="box-arrow-up-right" label="View Essay" @click="launch"></sl-icon-button>
          </sl-tooltip>
        </div>
      </div>
      <textarea ref="content"></textarea>
    </div>

    <div v-cloak v-else class="main">
      Please login to use the editor
    </div>

    <ve-footer sticky></ve-footer>
  
    <sl-dialog v-cloak label="Essays File Manager" class="file-manager-dialog">
      Essays
      <ul class="essay-list">
        <li v-for="essayPath in essayList" :key="essayPath">
          <span :class="{selected: essayPath === essayTitle}" v-html="essayPath" @click="selectEssay(essayPath)" style="cursor:pointer;"></span>
          <sl-icon-button name="trash" label="Delete Essay" @click="deleteEssay(essayPath)" class="push"></sl-icon-button>
        </li>
      </ul>
      <sl-button slot="footer" variant="primary" @click="openNewEssayDialog">New Essay</sl-button>
      <sl-button slot="footer" variant="primary" @click="closeFileManagerDialog">Close</sl-button>
    </sl-dialog>
  
    <sl-dialog v-cloak label="New Essay" class="new-essay-dialog">
      New Essay
      <sl-input id="newEssayTitle" placeholder="Enter essay name" size="medium" @keyup="essayTitleValidator"></sl-input>
      <div v-html="newEssayValidationMsg" style="height:1rem;"></div>
      <sl-button slot="footer" @click="cancelNewEssayDialog">Cancel</sl-button>
      <sl-button slot="footer" variant="primary" :disabled="newEssayTitleIsValid ? false : true" @click="submitNewEssayDialog">Submit</sl-button>
    </sl-dialog>

    <sl-dialog v-cloak ref="helpDialog" class="help-dialog" label="Essay Editor">
      <div v-html="helpText"></div>
      <sl-button ref="closeHelpButton" slot="footer" variant="primary">Close</sl-button>
    </sl-dialog>

  </div>

  <script type="module">
    function addScript(src) {
      const script = document.createElement('script')
      script.type = 'module'
      script.src = src
      document.body.appendChild(script)
    }
    function addStylesheet(href) {
      const link = document.createElement('link')
      link.rel = 'stylesheet'
      link.href = href
      document.head.appendChild(link)
    }
    let isDev = location.hostname === 'localhost'
    addStylesheet(`${isDev ? 'http://localhost:8080' : 'https://visual-essays.net'}/static/css/main.css`)
    addStylesheet(`${isDev ? 'http://localhost:8080' : 'https://visual-essays.net'}/static/css/default-theme.css`)
    addScript(`${isDev ? 'http://localhost:3333/build' : 'https://unpkg.com/visual-essays/dist/visual-essays'}/visual-essays.esm.js`)
  </script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js" type="text/javascript"></script>
  <script src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.73/dist/shoelace.js" type="module"></script>
  <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>  
  <script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.min.js" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script>
    // jwt-decode 
    (function(factory){typeof define==='function'&&define.amd?define(factory):factory()}((function(){'use strict';var chars="ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/=";function InvalidCharacterError(message){this.message=message}
    InvalidCharacterError.prototype=new Error();InvalidCharacterError.prototype.name="InvalidCharacterError";function polyfill(input){var str=String(input).replace(/=+$/,"");if(str.length%4==1){throw new InvalidCharacterError("'atob' failed: The string to be decoded is not correctly encoded.")}
    for(var bc=0,bs,buffer,idx=0,output="";(buffer=str.charAt(idx++));~buffer&&((bs=bc%4?bs*64+buffer:buffer),bc++%4)?(output+=String.fromCharCode(255&(bs>>((-2*bc)&6)))):0){buffer=chars.indexOf(buffer)}
    return output}
    var atob=(typeof window!=="undefined"&&window.atob&&window.atob.bind(window))||polyfill;function b64DecodeUnicode(str){return decodeURIComponent(atob(str).replace(/(.)/g,function(m,p){var code=p.charCodeAt(0).toString(16).toUpperCase();if(code.length<2){code="0"+code}
    return"%"+code}))}
    function base64_url_decode(str){var output=str.replace(/-/g,"+").replace(/_/g,"/");switch(output.length%4){case 0:break;case 2:output+="==";break;case 3:output+="=";break;default:throw "Illegal base64url string!"}
    try{return b64DecodeUnicode(output)}catch(err){return atob(output)}}
    function InvalidTokenError(message){this.message=message}
    InvalidTokenError.prototype=new Error();InvalidTokenError.prototype.name="InvalidTokenError";function jwtDecode(token,options){if(typeof token!=="string"){throw new InvalidTokenError("Invalid token specified")}
    options=options||{};var pos=options.header===!0?0:1;try{return JSON.parse(base64_url_decode(token.split(".")[pos]))}catch(e){throw new InvalidTokenError("Invalid token specified: "+e.message)}}
    if(window){if(typeof window.define=="function"&&window.define.amd){window.define("jwt_decode",function(){return jwtDecode})}else if(window){window.jwt_decode=jwtDecode}}})))
  </script>

  <script type="module">
  import { defineCustomElements } from 'https://unpkg.com/visual-essays/loader/index.js'

  const iiifServer = location.hostname === 'localhost' ? 'http://localhost:8088' : 'https://iiif.visual-essays.net'
  const apiEndpoint = location.hostname === 'localhost' ? 'http://localhost:8000' : 'https://api.visual-essays.net'
  const essayTitleRegex = /[a-z0-9]+[a-z0-9\-\/]*[a-z0-9]+|[a-z0-9]+/g

  new Vue({
    name: 'Visual Essays Editor',
    el: '#app',
    data: () => ({
      essayTitle: '',
      essayList: [],
      simplemde: null,
      overDropzone: false,
      user: null,
      annoBase: null,
      tokenIsRefreshing: false,
      newEssayTitleIsValid: false,
      newEssayValidationMsg: '',
      helpText: null
    }),
    computed: {
      isLoggedIn() { return this.user !== null && this.tokenIsValid() },
      authToken() { return this.tokenIsValid() ? this.user.token.access_token : null },
      userHash() { return this.user && this.hashStr(this.user?.email.toLowerCase()) },
      isDev() { return location.hostname === 'localhost' },
      essayLink() { return this.essayTitle === 'default'
        ? `${this.isDev ? 'http://localhost:8080' : 'https://visual-essays.net'}/${this.userHash}/`
        : `${this.isDev ? 'http://localhost:8080' : 'https://visual-essays.net'}/${this.userHash}/${this.essayTitle}/`
      },
      essayLinkShort() { return this.essayTitle === 'default'
        ? `${this.isDev ? 'http://localhost:8080' : 'https://visual-essays.net'}/${this.userHash.slice(0,8)}/`
        : `${this.isDev ? 'http://localhost:8080' : 'https://visual-essays.net'}/${this.userHash.slice(0,8)}/${this.essayTitle}/`
      }
    },
    async created() {
      this.initAuth()
      if (location.hash.length > 1) {
        let pathElems = location.hash.slice(1).split('/').filter(pe => pe)
        if (pathElems.length > 1) this.essayTitle = pathElems.slice(1).join('/')
      }
    },
    mounted() {
      this.getHelpText()
      this.$refs.closeHelpButton.addEventListener('click', () => this.$refs.helpDialog.hide())
    },
    methods: {
      hashStr(s) { return sha256(s) },
      initEditor() {
        this.simplemde = new SimpleMDE({
          previewRender: this.previewRender,
          // initialValue,
          autosave: {
            enabled: true,
            delay: 10000,
            uniqueId: this.userHash
          },
          hideIcons: ['side-by-side', 'fullscreen', 'preview', 'guide']
        })
        this.simplemde.codemirror.on('drop', (_, evt) => evt.preventDefault())
        this.simplemde.codemirror.on('change', _.debounce(() => this.saveMarkdown(), 10000))
        this.essayTitle = this.essayTitle || localStorage.getItem(`${this.userHash}/essay-title`) || 'default'
      },

      copyLink() {
        navigator.clipboard.writeText(this.essayLinkShort)
      },

      copyText() {
        navigator.clipboard.writeText(this.simplemde.value())
      },

      launch() {
        window.open(this.essayLinkShort, '_blank')
      },

      togglePreview() {
        SimpleMDE.togglePreview(this.simplemde)
      },

      showHelp() {
        this.$refs.helpDialog.show()
      },

      openFileManagerDialog() {
        this.getEssayList()
        document.querySelector('.file-manager-dialog').show()
      },

      closeFileManagerDialog() {
        document.querySelector('.file-manager-dialog').hide()
      },

      openNewEssayDialog() {
        document.querySelector('.new-essay-dialog').show()
      },

      cancelNewEssayDialog() {
        document.querySelector('.new-essay-dialog').hide()
      },

      submitNewEssayDialog() {
        let input = document.getElementById('newEssayTitle')
        this.createEssay(input.value)
        input.value = ''
        document.querySelector('.new-essay-dialog').hide()
      },

      getHelpText() {
        fetch(`${apiEndpoint}/html/visual-essays/editor/help/?prefix=""`).then(resp => resp.text())
        .then(html => {
          let tmp = new DOMParser().parseFromString(html, 'text/html').children[0].children[1]
          this.helpText = tmp.querySelector('main').innerHTML
        })
      },

      getEssayList() {
        fetch(`${apiEndpoint}/gcs/${this.userHash}/`, {
          headers: {Authorization:`Bearer ${this.authToken}`}
        }).then(resp => resp.json())
        .then(essayList => this.essayList = essayList.map(path => path.split('/').slice(1).join('/')))
      },

      createEssay(essay) {
        let essayId = `${this.userHash}/${essay}`
        fetch(`${apiEndpoint}/gcs/${essayId}/`, {
          method: 'POST',
          headers: {Authorization:`Bearer ${this.authToken}`},
          body: `# ${essay}`
        })
        .then(resp => {
          if (resp.ok && resp.status === 200) {
            let essayList = [...this.essayList]
            essayList.push(essay)
            essayList.sort()
            this.essayList = essayList
          }
        })
      },

      deleteEssay(essay) {
        let essayId = `${this.userHash}/${essay}`
        fetch(`${apiEndpoint}/gcs/${essayId}/`, {
          method: 'DELETE',
          headers: {Authorization:`Bearer ${this.authToken}`},
          body: `# ${essay}`
        })
        .then(resp => resp.json())
        .then(resp => this.essayList = this.essayList.filter(entry => entry !== essay ))
      },

      selectEssay(selected) {
        this.essayTitle = selected
        this.closeFileManagerDialog()
      },

      essayTitleValidator: _.throttle(function () {
        let essayTitle = document.getElementById('newEssayTitle').value
        this.newEssayTitleIsValid = essayTitleRegex.test(essayTitle)
        // console.log('essayTitleValidator', essayTitle, this.newEssayTitleIsValid)
        this.newEssayValidationMsg = this.newEssayTitleIsValid ? ' ' : 'Invalid essay title'
      }, 100),

      async getMarkdown(createIfNotFound) {
        let essayId = `${this.userHash}/${this.essayTitle}`
        console.log(`getMarkdown=${essayId}`)
        await this.validateToken()
        let resp = await fetch(`${apiEndpoint}/gcs/${essayId}/`, {
          headers: {Authorization:`Bearer ${this.authToken}`}
        })
        if (resp.status == 200) {
          let markdown = await resp.text()
          this.simplemde.value(markdown)
        } else if (resp.status == 404 && createIfNotFound) {
          this.simplemde.value(`# ${this.essayTitle.split('/').pop()}`)
          this.saveMarkdown()
        }
      },

      async saveMarkdown() {
        if (this.essayTitle && this.isLoggedIn) {
          let markdown = this.simplemde.value()
          let essayId = `${this.userHash}/${this.essayTitle}`
          localStorage.setItem(`${this.userHash}/essay-title`, this.essayTitle)
          // console.log(`saveMarkdown: essayId=${essayId} markdown_size=${markdown.length}`)
          await this.validateToken()
          fetch(`${apiEndpoint}/gcs/${essayId}/`, {
            method: 'POST',
            headers: {Authorization:`Bearer ${this.authToken}`},
            body: markdown })
          .then(resp => resp.text())
        }
      },

      previewRender(markdown, preview) {
        fetch(`${apiEndpoint}/html/`, {method: 'POST', body: markdown})
          .then(resp => resp.text())
          .then(html => {
            let el = new DOMParser().parseFromString(html, 'text/html').children[0].children[1]
            Array.from(el.querySelectorAll('ve-image')).forEach(veImg => veImg.setAttribute('auth-token', this.authToken))
            preview.innerHTML = el.querySelector('main')?.outerHTML
          })
        return ''
      },

      insertAtCursor(pos, text) {
        let priorLine = this.simplemde.codemirror.getRange({line:pos.line-2, char:0}, pos).trim().split(/\s/)
        if (priorLine.length > 0 && priorLine[0] === '.ve-image') {
          let merged = '.ve-image\n'
          merged += `    - ${priorLine.slice(1).join(' ')}\n`
          merged += `    - ${text.split(/\s/).slice(1).join(' ')}\n`
          this.simplemde.codemirror.setSelection({line:pos.line-1,ch:0}, {line:pos.line})
          this.simplemde.codemirror.replaceSelection(merged)
        } else {
          pos.ch = 0
          this.simplemde.codemirror.setSelection(pos, pos)
          this.simplemde.codemirror.replaceSelection(text)
        }
      },

      async getManifestUrl(imageUrl) {
        let resp = await fetch(`https://iiif.visual-essays.net/?url=${encodeURIComponent(imageUrl)}`)
        return await resp.text()
      },

      drop(e) {
        let cursorPos = this.simplemde.codemirror.coordsChar({left:e.pageX, top:e.pageY})
        let inputText = ''
        if (e.dataTransfer) inputText = decodeURI(e.dataTransfer.getData('Text') || e.dataTransfer.getData('text/plain') || e.dataTransfer.getData('text/uri-list'))
        if (inputText && isURL(inputText)) {
          let url = inputText
          let parsed = new URL(url)
          let manifestUrl = parsed.searchParams.get('manifest')
          if (manifestUrl) {
            let imageId = manifestUrl.indexOf('iiif.visual-essays.net') > 0 && manifestUrl.indexOf('manifest.json') > 0
              ? manifestUrl.split('/').slice(-2,-1).pop()
              : manifestUrl
              this.insertAtCursor(cursorPos, `.ve-image ${decodeURIComponent(imageId)}\n`)
          } else {
            this.getManifestUrl(url).then((manifestUrl) => {
              let imageId = manifestUrl.split('/').slice(3,-1).join('/')
              this.insertAtCursor(cursorPos, `.ve-image ${decodeURIComponent(imageId)}\n`)
            })
          }
        }
      },

      initAuth() {
        netlifyIdentity.on('init', (user) => this.user = user)
        netlifyIdentity.on('login', user => {
          location.hash = `#/${this.hashStr(user.email.toLowerCase())}/${this.essayTitle}`
          this.user = user
          netlifyIdentity.close()
        })
        netlifyIdentity.on('open', (e) => {
          if (e === 'user') {
            this.saveMarkdown().then(resp => {
              this.logout()
            })
          }
        })
      },

      tokenIsValid(token) {
        return this.user && this.user.token ? this.user.token.expires_at > Date.now() : false
      },
      
      async validateToken() {
        let timeRemaining = this.user ? this.user.token.expires_at - Date.now() : 0
        // console.log(`validateToken: timeRemaining=${timeRemaining} isValid=${timeRemaining > 0}`)
        if (this.user && timeRemaining < 300 * 1000) this.refreshToken() // refresh token before expiration
      },

      refreshToken() {
        // console.log(`refreshToken: tokenIsRefreshing=${this.tokenIsRefreshing}`)
        if (!this.tokenIsRefreshing) {
          this.tokenIsRefreshing = true
          const formData = new FormData()
          formData.append('grant_type', 'refresh_token')
          formData.append('refresh_token', this.user.token.refresh_token)
          fetch('https://editor.visual-essays.net/.netlify/identity/token', {
              method : 'POST',
              body : formData
          }).then(x=>x.json()).then(newToken => {
            this.user.token.access_token=newToken.access_token
            this.user.token.refresh_token=newToken.refresh_token
            this.user.token.expires_at = jwt_decode(newToken.access_token).exp * 1000
            localStorage.setItem('gotrue.user', JSON.stringify(this.user))
            console.log('auth token refreshed')
          })
          .catch(err => {
            console.log('Token refresh failed', err, `refresh_token=${this.user.token.refresh_token}`)
            this.logout()
          })
          this.tokenIsRefreshing = false
        }
      },

      logout() {
        netlifyIdentity.logout()
        localStorage.removeItem('gotrue.user')
        this.user = null
        netlifyIdentity.close()
        this.simplemde.toTextArea()
        this.simplemde = null
        location.href = '/'
      }
    
    },
    watch: {
      isLoggedIn(isLoggedIn) {
        console.log(`isLoggedIn=${isLoggedIn} essay=${this.essayTitle}`)
        if (isLoggedIn && !this.simplemde) this.$nextTick(() => this.initEditor())
      },
      user() {
        this.validateToken()
        if (this.user && this.essayTitle) this.getMarkdown(true)
      },
      essayTitle(essayTitle, prior) {
        if (this.userHash && essayTitle) {
          location.hash = `#/${this.userHash}/${essayTitle}`
          this.getMarkdown(true)
          if (this.simplemde.isPreviewActive()) this.togglePreview()
        }
      }
    }
  })
  Vue.config.productionTip = false
  Vue.config.devtools = true

  function isURL(str) { return /^https*:\/\//.test(str) }
  </script>

</body>
</html>